@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

$primaryBgcolor: #94B6ED;
$secondBgcolor: #8AEBDB;
$thirdBgcolor: #A698EE;
$blueBase: rgba(69, 127, 218, .3);
$oneCycle: 200px;

body {
	margin: 0;
	color: white;
	background-color: $primaryBgcolor;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;

	.bg {
		position: fixed;
		filter: blur(150px);
		transform: rotate(-45deg);
		border-radius: 67px;


		&-second {
			transform: rotate(-45deg);
			background-color: $secondBgcolor;
			height: 100vh;
			width: 100vw;
			right: -50%;
			top: 20%;

			animation: 3s infinite alternate secondtransform;
		}

		&-third {
			background-color: $thirdBgcolor;
			width: 100%;
			height: 100vw;
			top: 80%;
			left: -30%;

			animation: 3s infinite alternate thirdtransform;

		}

	}

	header {
		display: flex;
		justify-content: space-between;
		padding: .3rem;
	}

	.content-container {
		max-width: 1000px;
		margin: 0 auto;
		padding: 10px;
		z-index: 5;
		position: relative;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: 200;
			text-align: center;
		}
	}

	.wrapper__current-cycle {
		display: flex;
		justify-content: center;
		margin-top: 2rem;
		margin-bottom: 1rem;

		.current-cycle {
			background-color: $blueBase;
			padding: .1rem 1rem;
		}
	}

	.cycle-graphic {
		&__container {
			background-color: rgba(0, 0, 0, 0.4);
			overflow-x: scroll;
			padding-bottom: 1rem;

			.time-list {
				font-size: .8rem;
				list-style-type: none;
				display: flex;
				margin: 0;
				padding: 0;
				padding-top: 3px;

				.time {
					width: 40px;
					text-align: center;

					&-1 {
						font-size: .9rem;
					}

					&-2 {
						margin-left: calc($oneCycle - 22px);
					}

					&-3 {
						margin-left: calc($oneCycle - 40px);
					}
				}
			}
		}

		&__wrapper {
			display: flex;
			background-color: rgba(0, 0, 0, 0.6);
			border-bottom: 2px solid white;
			padding-bottom: 1rem;
			position: relative;
			min-width: calc($oneCycle * 6 + $oneCycle / 6);

			.dot {
				width: 6px;
				height: 6px;
				background-color: #fff;
				position: absolute;
				border-radius: 50%;
				bottom: -4px;

				&-2 {
					left: calc($oneCycle + $oneCycle / 6);
				}

				&-3 {
					left: calc($oneCycle * 2 + $oneCycle / 6);
				}


			}
		}

		&__fall-block {
			background-color: #caa;
			min-width: calc($oneCycle / 6);
			height: 300px;
			border-top: 2px dashed white;
		}

		&__first {
			min-width: $oneCycle;
			background-color: #aac;
			display: flex;

			.one-step {
				background-color: #cfa;
				width: 5%;
				height: 100%;

				div {
					height: 50%;
					border-left: 2px solid white;
					border-bottom: 2px solid white;
				}
			}

			.second-step {
				background-color: #cca;
				width: 10%;
				height: 100%;

				.top {
					height: 50%;
				}

				.bottom {
					height: 30%;
					border-left: 2px solid white;
					border-bottom: 2px solid white;
				}
			}

			.third-step {
				background-color: #aaf;
				width: 75%;

				.top {
					height: 40%;
				}

				.middle {
					height: 40%;
					border-right: 2px solid white;
				}

				.bottom {
					height: 20%;
					border-left: 2px solid white;
					border-bottom: 2px solid white;
					border-right: 2px solid white;
				}
			}

			.fourth-step {
				width: 10%;

				div {
					height: 40%;
					border-bottom: 2px solid white;
					border-right: 2px solid white;
				}
			}
		}

		&__second {
			min-width: $oneCycle;
			background-color: #ccc;
			display: flex;

			.one-step {
				background-color: #fac;
				width: 15%;
				height: 25%;
				border-bottom: 2px solid white;
			}

			.second-step {
				background-color: #aaa;
				width: 5%;

				.top {
					height: 25%;
				}

				.bottom {
					height: 25%;
					width: 100%;
					border-left: 2px solid white;
					border-bottom: 2px solid white;
				}
			}

			.third-step {
				background-color: #faa;
				width: 20%;

				.top {
					height: 50%;
				}

				.bottom {
					height: 30%;
					width: 100%;
					border-left: 2px solid white;
					border-bottom: 2px solid white;
				}
			}

			.fourth-step {
				background-color: #cca;
				width: 40%;

				.top {
					height: 80%;
				}

				.bottom {
					height: 20%;
					border-left: 2px solid white;
					border-bottom: 2px solid white;
					border-right: 2px solid white;
				}
			}

			.fifth-step {
				background-color: #aca;
				width: 5%;

				.top {
					height: 30%;
				}

				.bottom {
					height: 50%;
					border-bottom: 2px solid white;
					border-right: 2px solid white;
				}
			}

			.sixth-step {
				background-color: #cca;
				width: 15%;
				height: 30%;
				border-bottom: 2px solid white;
				border-right: 2px solid white;

			}
		}
	}

	button {
		background-color: $blueBase;
		border: none;
		border-radius: 4px;
		box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: .4);
		color: white;

		font-family: inherit;
		font-weight: 200;
		cursor: pointer;
		transition: all .1s;

		&:active {
			box-shadow: 0 0 0 0 rgba($color: #000000, $alpha: .4);

		}

		&.big {
			width: 250px;
			height: 45px;
			display: block;
			margin: 10px auto;
		}
	}

	.perfect-time {
		&__h2 {
			margin-top: 5rem;
		}

		&__number {
			text-align: center;
			font-size: 2.5rem;
		}

		&__button {
			margin-top: 2rem !important;
			margin-bottom: 3rem !important;
		}

	}

	.easy-wake-up {
		&__wrapper {
			display: flex;
			justify-content: space-around;
			max-width: 600px;
			margin: 1rem auto;
		}

		&__item {
			padding: 4px 10px;
		}
	}

}



@keyframes secondtransform {
	from {
		border-radius: 67px;
		right: -50%;
	}

	to {
		border-radius: 200px;
		right: -80%;
	}
}

@keyframes thirdtransform {
	from {
		left: -60%;
	}

	to {
		left: -30%;
	}
}